doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    block header
      .container
        nav.navbar
          .navbar-brand
            h3.navbar-item #{h.siteName}
            .navbar-burger.burger(data-target='navMenu')
              span
              span
              span
          #navMenu.navbar-menu
            .navbar-start
              a.navbar-item(href='/') Home
            .navbar-end
              if user
                a.navbar-item(href='/allbooks') All Books
                a.navbar-item(href='/mybooks') My Books
                a.navbar-item(href='/settings')
                  span.icon
                    i.fa.fa-cog
                a.navbar-item(href='/logout')
                  span.icon
                    i.fa.fa-power-off
              else
                a.navbar-item(href='/signup') Sign Up
                a.navbar-item(href='/login') Login
        
    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[categories]
            .notification(class=`${category}`)
              p.flash-text!= message
              button.delete(onClick="this.parentElement.remove()")
    
    #wrapper.content
      block content
      
    footer.footer
      .container
        .content.has-text-centered
          p #{h.siteName} by 
            a(href='https://hadaclay.com') @hadaclay
          p
            a(href='https://github.com/hadaclay/swapbooks')
              i.fa.fa-github.fa-2x
        
    block scripts
      script(src='/dist/App.bundle.js')
